<% provide(:title, "About Awesomeness!") %>
<!DOCTYPE html>
<html>
<head>
   <title>Awesome App | <%= yield(:title)%></title>
</head>

<body>

<h1>About Awesomness!<h1>

  <p>
    You can share only awesome stuff here
  </p>
</body>
</html>
