<% provide(:title, "Do you need help?") %>

<h1>Welcome to the Awesome help page!</h1>
<p>
  This is the awesome help page for the Awesomness!
<p>

<img src="https://media3.giphy.com/media/3otPoIpKz3pYa4o2hq/200.gif#0">
