<% provide(:title, "Home fow Awesomeness!") %>


<h1>Welcome to the Awesomeness</h1>
<p>
  This is the home page for the Awesomeness!
<p>

<img src="https://media.giphy.com/media/26ufbhAiPrAlyvY4g/giphy.gif">
