
<div class="center jumbotron">
  <h1>Welcome to the Awesomeness</h1>

  <p>
    This is the home page for the Awesomeness!
  <p>

  <div>
    <img src="https://media.giphy.com/media/26ufbhAiPrAlyvY4g/giphy.gif">
  </div>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-primary" %>

</div>
